# Atualizadores de pacotes
pip>=24.0
setuptools>=70.0
wheel>=0.43.0

# Backend principal
Flask==3.0.3
gunicorn==22.0.0
requests==2.32.3

# Ciência de dados / pandas / numpy
numpy==1.26.4
pandas==2.2.2

# Operações assíncronas ou threads
aiohttp==3.9.9
nest-asyncio==1.5.8

# Variáveis de ambiente
python-dotenv==1.0.0
