# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3
*.db

# React / Node
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# Configurações sensíveis
*.env
config/contas_config.json

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
